@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Khumalo Craft, your destination for unique, handcrafted products from artisans around the world. Our mission is to connect talented artisans with a discerning audience who appreciates the beauty and craftsmanship of handmade goods.</p>
<p>Founded by visionary entrepreneur James Khumalo, Khumalo Craft is more than just an e-commerce platform – it's a community dedicated to celebrating creativity and supporting independent artisans.</p>
<p>At Khumalo Craft, we strive to provide a user-friendly and accessible platform where artisans can showcase their work and customers can discover one-of-a-kind treasures. With a focus on quality, authenticity, and ethical sourcing, we curate a diverse selection of products that tell a story and make a meaningful impact.</p>
<p>Join us on our journey to empower artisans, inspire creativity, and foster connections across cultures. Experience the beauty of handmade craftsmanship with Khumalo Craft today!</p>

