@{
    ViewData["Title"] = "Contact Us";
}

<style>
      .social-media-links {
        display: flex;
        justify-content: center;
      }
    </style>
  <body>
    <h1>@ViewData["Title"]</h1>
    <p>
        Welcome to our Contact Us page! We're here to help you with any questions or concerns you may have. Please feel free to reach out to us using any of the methods below, and we'll get back to you as soon as possible.
    </p>
    <div class="social-media-links">
      <a href="https://www.instagram.com/KhumaloCrafts/" target="_blank">
            <img src="c:\users\lab_services_student\source\repos\databasepoe\databasepoe\views\home\instagram.jpg" alt="Instagram" width="50" height="50" />
      </a>
      <a href="https://twitter.com/KhumaloCrafts" target="_blank">
            <img src="c:\users\lab_services_student\source\repos\databasepoe\databasepoe\views\home\twitter.png" alt="Twitter" width="50" height="50" />
      </a>
      <a href="https://web.whatsapp.com/send?phone=0711234567890" target="_blank">
            <img src="c:\users\lab_services_student\source\repos\databasepoe\databasepoe\views\home\whatsapp.png" alt="WhatsApp" width="50" height="50" />
      </a>
      <a href="mailto:khumalocrafts@gmail.com" target="_blank">
            <img src="c:\users\lab_services_student\source\repos\databasepoe\databasepoe\views\home\email.png" alt="Email" width="50" height="50" />
      </a>
    </div>
  </body>
