@{
    ViewData["Title"] = "Home Page";
}

<section id="description">
    <h2>What is Khumalo Craft?</h2>
    <p>Khumalo Craft is your destination for unique, handcrafted products from artisans around the world. Discover the beauty and craftsmanship of handmade goods.
    <br /><a asp-area="" asp-controller="Home" asp-action="About">Learn More</a></p>
    <hr/>
</section>
<section id="item-of-the-day">
    <h2>Item of the Day</h2>
        <img src="mug1.jpg" alt="Product of the Day" width="500" height="400"/>
        <h3>Handcrafted Ceramic Mug</h3>
        <p>R150.00</p>
        <a asp-area="" asp-controller="Home" asp-action="Work">Show All Products</a>
</section>